* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    width: 128px;
    height: 40px;
}

.header-section {
    background-color: #1F2937;
    align-items: center;
    padding-top: 16px;
}

.header,
.hero-section {
    color: #F9FAF8;
    flex-wrap: wrap;
    max-width: 1328px;
    margin: 0 auto;
}

.header {
    padding: 0 64px;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 24px !important;
    font-weight: 700;
    margin-right: auto;
}

button,
.header li,
.hero-text p,
.hero-image {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-section {
    display: flex;
    min-height: 450px;
    align-items: center;
    gap: 47px;
    padding: 32px 64px;
}

.hero-text,
.hero-image {
    display: flex;
    gap: 16px;
}

.hero-text {
    flex-direction: column;
    flex: 1;
    min-width: 330px;
}

.hero-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    align-items: center;
    justify-content: center;
    background-color: #778899;
    height: 300px;
    width: 600px;
    flex-shrink: 0;
    margin: 0 auto;
}

.cards-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #FFFFFF;
    padding: 64px;
}

.cards-section h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 47px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 250px;
    height: 400px;
}

.card .image {
    width: 250px;
    height: 250px;
    border: 6px solid #3882F6;
    border-radius: 25px;
}

.card-text {
    font-size: 18px;
    color: #708090;
    text-align: center;
}

.testimonial-section {
    background-color: #E5E7EB;
    padding: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote,
.author {
    max-width: 1200px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

.action-section {
    background-color: #3882F6;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px;
    max-width: 1200px;
    margin: 64px auto;
    padding: 48px 82px;
}

.action {
    flex: 0 3 500px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action-header {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}

.action-text {
    color: #FFFFFF;
    font-size: 18px;
}

.sign-up {
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up button {
    border: 2px solid #FFFFFF;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    padding: 32px;
}